<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Home</title>

	<!-- Sweet Alert V8.13.0 JS file-->
	<script src="../js/sweetalert2.min.js" ></script>

	<%- include('partials/home.html') %>

</head>
<body>
	
	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<section class="full-box nav-lateral">
			<div class="full-box nav-lateral-bg show-nav-lateral"></div>
			<div class="full-box nav-lateral-content">
				<figure class="full-box nav-lateral-avatar">
					<i class="far fa-times-circle show-nav-lateral"></i>
					<img src="./assets/avatar/admin.png" class="img-fluid" alt="Avatar">
					<figcaption class="roboto-medium text-center">
						Cristian Páramo <br><small class="roboto-condensed-light">Administrador</small>
					</figcaption>
				</figure>
				<div class="full-box nav-lateral-bar"></div>
				<nav class="full-box nav-lateral-menu">
					<ul>
						<li>
							<a href="home.html"><i class="fas fa-home fa-fw"></i> &nbsp; Home</a>
						</li>

						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-users fa-fw"></i> &nbsp; Pacientes <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="paciente-new.html"><i class="fas fa-plus fa-fw"></i> &nbsp; Agregar paciente</a>
								</li>
								<li>
									<a href="paciente-list.html"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de pacientes</a>
								</li>
								<li>
									<a href="paciente-search.html"><i class="fas fa-search fa-fw"></i> &nbsp; Buscar paciente</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas fa-notes-medical fa-fw"></i> &nbsp; Citas <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="citas-new.html"><i class="fas fa-plus fa-fw"></i> &nbsp; Nuevo cita</a>
								</li>
								<li>
									<a href="citas-list.html"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de citas</a>
								</li>
								<li>
									<a href="citas-search.html"><i class="fas fa-search-dollar fa-fw"></i> &nbsp; Buscar cita</a>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="nav-btn-submenu"><i class="fas  fa-user fa-fw"></i> &nbsp; Usuarios <i class="fas fa-chevron-down"></i></a>
							<ul>
								<li>
									<a href="user-new.html"><i class="fas fa-plus fa-fw"></i> &nbsp; Nuevo usuario</a>
								</li>
								<li>
									<a href="user-list.html"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; Lista de usuarios</a>
								</li>
								<li>
									<a href="user-search.html"><i class="fas fa-search fa-fw"></i> &nbsp; Buscar usuario</a>
								</li>
							</ul>
						</li>

					</ul>
				</nav>
			</div>
		</section>

		<!-- Page content -->
		<section class="full-box page-content">
			<nav class="full-box navbar-info">
				<a href="#" class="float-left show-nav-lateral">
					<i class="fas fa-exchange-alt"></i>
				</a>
				<a href="user-update.html">
					<i class="fas fa-user-cog"></i>
				</a>
				<a href="#" class="btn-exit-system">
					<i class="fas fa-power-off"></i>
				</a>
			</nav>

			<!-- Page header -->
			<div class="full-box page-header" style="color: #2c519a;">
				<h3 class="text-left">
					<i class="fas fa-laptop-medical"></i> &nbsp; CLINICA MEDICA
				</h3>
			</div>
			
			<!-- Content -->
			<div class="full-box tile-container">

				<a href="paciente-new.html" class="tile" style="color: #2c9a96;">
					<div class="tile-tittle">Pacientes</div>
					<div class="tile-icon">
						<i class="fas fa-users fa-fw"></i>
						<p>5 Registrados</p>
					</div>
				</a>


				<a href="citas-list.html" class="tile" style="color: #2c519a;">
					<div class="tile-tittle">Citas</div>
					<div class="tile-icon">
						<i class="fas fa-notes-medical fa-fw"></i>
						<p>5 Registrados</p>
					</div>
				</a>

				<a href="user-list.html" class="tile" style="color: #d3403b;">
					<div class="tile-tittle">Usuarios</div>
					<div class="tile-icon">
						<i class="fas fa-user fa-fw"></i>
						<p>5 Registrados</p>
					</div>
				</a>

			</div>
			

		</section>
	</main>
	
	
	<!--=============================================
	=            Include JavaScript files           =
	==============================================-->
	<!-- jQuery V3.4.1 -->
	<script src="./js/jquery-3.4.1.min.js" ></script>

	<!-- popper -->
	<script src="./js/popper.min.js" ></script>

	<!-- Bootstrap V4.3 -->
	<script src="./js/bootstrap.min.js" ></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<script src="./js/jquery.mCustomScrollbar.concat.min.js" ></script>

	<!-- Bootstrap Material Design V4.0 -->
	<script src="./js/bootstrap-material-design.min.js" ></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

	<script src="./js/main.js" ></script>
</body>
</html>